header {
	background-color: #026aa7;
	height: 30px;
	text-align: center;
	padding: 5px 8px;
}

header a {
	height: 30px;
	width: 80px;
	text-align: center;
	background-image: url(https://a.trellocdn.com/dist/images/header-logo-2x.01ef898811a879595cea.png);
	background-repeat: no-repeat;
	text-align: center;
	display: inline-block;
	background-size: 80px 30px;
}

.red {
        color: red;
}

.yellow {
        color: yellow;
}

.list {
        display: inline-block;
        width: 30%;
        vertical-align: top;
}

.lists {
        width: 100%;
        position: absolute;
        top: 100;
        display: inline-block
}

#list_doing li {
        font-style: italic;
}

#list_todo li {
        font-style: bold;
}

body {
	background-color: #0078c0;
	margin: 0px;
}

/* Add Your CSS */
