header {
	background-color: #026aa7;
	height: 30px;
	text-align: center;
	padding: 5px 8px;
}

header a {
	height: 30px;
	width: 80px;
	text-align: center;
	background-image: url(https://a.trellocdn.com/dist/images/header-logo-2x.01ef898811a879595cea.png);
	background-repeat: no-repeat;
	text-align: center;
	display: inline-block;
	background-size: 80px 30px;
}

body {
    font-size:16px;
	background-color: #0078c0;
	margin: auto;
}

/* Add Your CSS */


section {
    padding: 1%
}

#container {
    display: grid;
    grid-template-columns: 30% 30% 30%;

}

h1 {
    font-family: sans-serif serif;
    font-size: 2em;
}

.columns {
    height: 100%;
    margin-left: 1em;
    margin-right: 1em;
    
}

#list_todo, #list_doing, #list_done {
    height: 5em;
}

#list_todo {
    background-color: aliceblue;
    height: 100%;
}

#list_doing {
    background-color: #7CBCFF;
    height: 100%;

}

#list_done {
    background-color: #288AD6;
    
}



 @media screen and (max-width: 768px) {
 body {
font-size:13px;
}
}
 @media screen and (max-width: 640px) {
 body {
font-size:11px;
}
}
 @media screen and (max-width: 380px) {
 body {
font-size:8px;
}
}

