html, body{
	font-family: 'Open Sans', sans-serif;
	margin:auto;
}

header {
	background-color: #026aa7;
	height: 30px;
	text-align: center;
	padding: 5px 8px;
}

header a {
	height: 30px;
	width: 80px;
	text-align: center;
	background-image: url(https://a.trellocdn.com/dist/images/header-logo-2x.01ef898811a879595cea.png);
	background-repeat: no-repeat;
	text-align: center;
	display: inline-block;
	background-size: 80px 30px;
}

body {
	background-color: #0078c0;
	margin: 0px;
}

/* Add Your CSS */

.search{
	margin-left: 20px;
	display: block;
	padding-bottom: 200px;
}

#todo-item-input{
	width: 90%;
	height: 25px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	font-size: 1em;
}

#new-item {
	width: 90%;
	height: 40px;
	font-size: 20px;
	background-color: #d3d3d3;
	border-radius: 10px;
	margin-left: 5px;
	display: block;

}

.listdiv {
	background-color: #E8E8EE;
	width: 40%;
	display: inline-block;
	margin-right: 20px;
	padding-left: 20px;
}

.listdiv h1{
}



.lists{
	padding-left: 30px;
	width: 100%;
	position: absolute;
	top: 150;

}

.libtn {
	background-color: #d3d3d3;
	margin-bottom: 20px;
}